::ng-deep .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
  }
  
  ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
    width: 100%
  }

  ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
      padding: 0.4em 0px !important;
    }
::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.input-search {
    width: 100%;
}
.input-search ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px !important
}

.margin-top-auto {
    margin-top: auto; 
}

.left-itme-grid {
    left: 5px;
}

.header {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%
}

.nav-main {
    flex-grow: 3;
    margin-right: 20px;
    margin-left: 20px
}

.toogle {
    margin-right: 20px;
}
