<form>
  <div class="header">
    <div class="nav-main">
      <mat-form-field appearance="outline" class="input-search">
        <mat-label>Buscar</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input
          (ngModelChange)="changeValue()"
          (keyup.enter)="sendValueToParent()"
          matInput
          [formControl]="searchToolFormControl"
          placeholder="Buscar"
          autocomplete="off"
        />
        <button
          *ngIf="searchToolFormControl.value != ''"
          type="button"
          (click)="clearInputSearch()"
          matSuffix
          mat-icon-button
          aria-label="Clear"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="toogle">
      <mat-slide-toggle [formControl]="togleTagFormControl" (change)="changeTogle()" class="left-itme-grid"
        >Coincidir solo en etiquetas</mat-slide-toggle
      >
    </div>
  </div>
</form>
